[submodule "ML/Albion_API"]
	path = ML/Albion_API
	url = https://github.com/mak8427/Albion_Online_Market
[submodule "ML/Albion_Data"]
	path = ML/Albion_Data
	url = https://github.com/mak8427/Albion_Online_Market
[submodule "ML/Poe2"]
	path = ML/Poe2
	url = https://github.com/mak8427/PoE2.git
