@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
}

        #themeToggleButton {
            background-color: transparent;
            color: inherit;
            font-size: 24px;
            cursor: pointer;
            border: none;
            transition: color 0.3s;
        }
    #themeToggleButton:hover {
        color: #4CAF50;
    }

body {
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);
}
p.dark-theme {
    color: #f5f5f5; /* Light color for dark theme */
}
/* TRANSITION */

a,
.btn {
    transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}
a.dark-theme {
    color: #f5f5f5; /* Light color for dark theme */
}
a:hover {
    color: #8c92ac;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

.logo {
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

/* SECTIONS */

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

/* PROFILE SECTION */

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section__text {
    align-self: center;
    text-align: center;
}

.section__text p {
    font-weight: 600;
}

.section__text__p1 {
    text-align: center;
}

.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 3rem;
    text-align: center;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* ICONS */

.icon {
    cursor: pointer;
    height: 2rem;
}

/* BUTTONS */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
    border: rgb(53, 53, 53) 0.1rem solid;
    background: white;
}


.btn-color-1:hover ,
.btn-color-2:hover {
    background: rgb(53, 53, 53);
    color: white;
    cursor: pointer;
}



.btn.dark-theme {
    color: #f5f5f5; /* Light color for dark theme */
}
.btn-color-1.dark-theme,
.btn-color-2.dark-theme {
    border: #f5f5f5 0.1rem solid; /* Light border color for dark theme */
    background: #333; /* Dark background for dark theme */
    color: #f5f5f5; /* Light color for dark theme */
}

.btn-color-1.dark-theme:hover,
.btn-color-2.dark-theme:hover {
    background: #f5f5f5; /* Light background for hover state in dark theme */
    color: #333; /* Dark color for hover state in dark theme */
}

.btn-container {
    gap: 1rem;
}

/* ABOUT SECTION */

#about {
    position: relative;
}

.about-containers {
    display: flex; /* Flexbox for child elements */
    justify-content: center; /* Center items horizontally */
    align-items: stretch; /* Center items vertically */
    gap: 15px; /* Reduce spacing between portals */
    flex-wrap: wrap; /* Ensure items wrap if the screen is narrow */
    margin: 0; /* Remove additional margins */
}

.about-details-container {
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
}

.about-containers,
.about-details-container {
    display: flex;

}

.about-pic {
    border-radius: 2rem;
}

.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
     flex-direction: column; /* Stack items vertically */
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
}
.details-container-dark {
    padding: 1.5rem;
    flex: 1;
    background: #333; /* Dark background */
    border-radius: 2rem;
    border: 0.1rem solid #555; /* Darker border for contrast */
    color: #FFF; /* Light text color for readability */
    text-align: center;
}
.section-container {
    gap: 4rem;
    height: 80%;
}

.section__pic-container img  {
    height: 400px;
    width: 400px;
    margin: auto 0;
    object-fit: cover;        /* Ensures the image covers the container */
    border-radius: 50%;       /* Makes the image round */

}

/* EXPERIENCE SECTION */

#experience {
    position: relative;
}

.experience-sub-title {
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}
.experience-sub-title.dark-theme {
    color: #f5f5f5; /* Light color for dark theme */
}
.experience-details-container {
    display: flex; /* Flexbox layout */
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Center the items vertically */
    padding: 0; /* Remove any default padding */
    margin: 0 auto; /* Remove extra margins */
}





.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

article .icon {
    cursor: default;
}

/* PROJECTS SECTION */

#projects {
    position: relative;
}

.color-container {
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
}
.color-container-dark {
    border-color: #555; /* Darker border color */
    background: #333; /* Darker background */
}

/* Enforce uniform image size */
.project-img {
    display: block; /* Ensure the image is treated as a block-level element */
    width: 300px; /* Set a fixed width for all images */
    height: 300px; /* Set a fixed height for all images */
    object-fit: cover; /* Ensure the image covers the area while maintaining aspect ratio */
    border-radius: 10px; /* Optional: Add rounded corners */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add smooth hover effect */
}

.image-link {
    display: inline-block; /* Ensure proper layout */
    padding: 10px; /* Add padding around images */
    border: 2px solid #FFFFFF; /* Add a border for a button effect */
    border-radius: 12px; /* Match image border radius */
    overflow: hidden; /* Prevent content overflow */
    transition: transform 0.3s ease, border-color 0.3s ease; /* Smooth transitions */
}

.image-link:hover {
    border-color: #0056b3; /* Change border color on hover */
    transform: scale(1.05); /* Slightly enlarge the image link on hover */
}
.Efficient-frontier-img {
    border-radius: 2rem;
  height: 410px;
  width: 410px;
}
.project-title {
    margin: 1rem;
    color: black;
}

.project-btn {
    color: black;
    border-color: rgb(163, 163, 163);
}

/* CONTACT */

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    background: (250, 250, 250);
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p {
    font-size: larger;
}

.contact-icon {
    cursor: default;
}

.email-icon {
    height: 2.5rem;
}

/* FOOTER SECTION */

footer {
    height: 26vh;
    margin: 0 1rem;
}

footer p {
    text-align: center;
}

