body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000; /* Dark background for dark mode */
    color: #fff; /* White text for dark mode */
    transition: background-color 0.3s, color 0.3s;
    scroll-behavior: smooth; /* Enables smooth scrolling */
}

header, footer {
    text-align: center;
    padding: 1rem;
    background-color: #333; /* Slightly lighter black for contrast */
    color: #fff;
}

button {
    padding: 10px 20px;
    background-color: #555; /* Dark gray */
    color: #fff; /* White */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #777; /* Lighter gray */
}

/* Specific styles for light mode */
.light-mode {
    background-color: #fff; /* White background */
    color: #000; /* Black text */
}

.light-mode header, .light-mode footer {
    background-color: #eee; /* Light grey */
    color: #000; /* Black */
}

.light-mode button {
    background-color: #ddd; /* Light gray */
    color: #000; /* Black */
}

.light-mode button:hover {
    background-color: #bbb; /* Darker gray */
}
